section {
  display: flex;
  flex-direction: column;
}
form {
  margin-bottom: 40px;
}
mat-form-field {
  width: 100%;
}

agm-map {
  height: 400px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.item {
  width: 48%;
  margin: auto;
}

.bigItem {
  margin:auto;
}

.table-item {
  max-width: 27%;
}
.table-button {
  max-width: 19%;
}

.separator {
  margin: 5px;
}
